<template>
    <v-app-bar data-tauri-drag-region elevate elevation="2" density="compact">
      <template v-slot:append>
        <v-app-bar-title>NotPlayer</v-app-bar-title>
      </template>
    </v-app-bar>
</template>