<script setup lang="ts">
import { RouterView } from 'vue-router';
import TitleBar from './components/TitleBar.vue';
</script>

<template>
  <v-app class="rounded rounded-md" theme="dark">
    <TitleBar />
    <v-navigation-drawer
      rail
      expand-on-hover
    >
      <v-list nav>
        <v-list-item prepend-icon="mdi-home" value="/">Home</v-list-item>
        <v-list-item></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main class="d-flex align-center justify-center">
      <RouterView />
    </v-main>
  </v-app>
  
</template>